body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NAVBAR CSS */

.navbar {
  background-color: #0079EC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  color: aliceblue;
}
.nav-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.nav-left a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}
.nav-left a:hover {
  text-decoration: underline;
}
.nav-left a.active {
  font-weight: 700;
}
.nav-right {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 40%;
  padding-right: 80px;
}
.cart {
  cursor: pointer;
  position: relative;
}
.cart a {
  color: aliceblue;
}
.cart svg {
  height: 25px;
  width: 25px;
}
.count-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  background-color: red;
  border: 2px solid rgb(230, 5, 5);
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: 70%;
  left: 70%;
  padding: 1px;
}

/* END NAVBAR CSS */

/* ITEM LIST CONTAINER CSS */
.container-items {
  margin: 0px 32px;
}

.item-list-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 80px;
  gap: 30px;
}

.item-list {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid rgb(122, 117, 117, 0.1);
  box-shadow: 5px 5px 10px 5px rgba(70, 69, 69, 0.1);
  border-radius: 4px;
  gap: 20px;
  color: #000;
}
.item-list:hover {
  box-shadow: 5px 5px 10px 2px rgba(70, 69, 69, 0.3);
}

.item-list .content-item-list {
  padding: 16px;
}

.item-list img {
  height: 250px;
  width: 100%;
}
.item-list .price {
  margin-bottom: 8px;
  color: #636363;
}

/*  */
.button-container {
  width: 100%;
  padding-top: 16px;
  border-top: 1px solid rgb(165, 165, 165, 0.5);
}
.button-container a{
  text-decoration: none;
}

/* END ITEM LIST CONTAINER */

/* ITEM DETAIL CONTAINER */

.detail-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.detail-item {
  position: relative;
  display: flex;
  margin-top: 32px;
  border: 1px solid rgb(122, 117, 117, 0.1);
  box-shadow: 5px 5px 10px 5px rgba(70, 69, 69, 0.1);
  width: 60%;
  height: 250px;
  border-radius: 8px;
}
.detail-item h6, p {
  color: #636363;
}

.detail-item .img-detail {
  display: flex;
  align-items: center;
  padding: 8px 25px;
  width: 200px;
}
.detail-item .img-detail img {
  width: 100%;
}
.detail-item .content-detail {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px 0 20px 50px;
  width: 40%;
}

.add-cart {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 16px;
}
.add-cart h2 {
  text-align: center;
}
.add-cart h5 {
  color: #424141;
  font-size: 12px;
}
.btn-add {
  padding: 0 16px;
  gap: 4px;
  width: 100%;
}
.item-count {
  gap: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.count {
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #0079EC;
  border: 1px solid #0079EC;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
}

.btn-count:hover {
  background-color: aliceblue;
}

.input-count {
  width: 30px;
  margin: 0 1px;
  border: 1px solid #0079EC;
  border-radius: 4px;
  text-align: center;
}
.input-count:focus-visible {
  border: 1px solid #0079EC;
}
.input-count:active {
  border: 1px solid #0079EC;
}
/* END ITEM DETAIL CONTAINER */

/* CART CONTAINER */
.cart-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.without-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 100px;
  width: 600px;
  border: 4px solid #005fb8;
  border-radius: 4px;
  padding: 32px;
}
.cart-container .cards {
  display: flex;
  flex-direction: column;
}
.cart-product {
  width: 80%;
}
.detail-total-cart {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid rgb(122, 117, 117, 0.1);
  box-shadow: 5px 5px 10px 5px rgba(70, 69, 69, 0.1);
  padding: 32px;
  border-radius: 8px;
  height: fit-content;
  width: 200px;
}

.detail-total-cart h6 {
  color: #111010;
  font-size: 12px;
  font-weight: 500;
}
.detail-total-cart h6 span {
  color: #4e4d4d;
  font-size: 16px;
  font-weight: 700;
}
/* END CART CONTAINER */

/* GLOBAL STYLES */

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  width: 100%;
  height: 40px;
  border: 0;
  background-color: #0079EC;
  color: #fff;
  border-radius: 8px;
}
button:hover {
  background-color: #005fb8;
}

.btn-secondary {
  background-color: #fff;
  color: #005fb8;
  border: 1px solid #005fb8;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: aliceblue;
}

a {
  text-decoration: none;
}
.w-100 {
  width: 100%;
}

.btn-danger {
  color: rgb(128, 2, 2);
  border: 1px solid rgb(128, 2, 2);
  background-color: #fff;
}
.btn-danger:hover {
  background-color: #fff;
}

.stock {
  color: #636363;
  font-size: 12px;
  margin: 0;
  text-align: center;
}
.gap-10 {
  gap: 10px;
}

.loader-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.without-stock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-weight: 700;
  gap: 16px;
}
.without-stock button {
  width: 100%;
}

.main-checkout {
  display: flex;
  margin-top: 50px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.container-form h4 {
  margin-bottom: 16px;
  color: #424141;
}
.container-form form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.container-form form .input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}
.container-form form .input-group input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgb(170, 170, 170);
  padding: 0 8px;
}
.button-form {
  width: 50%;
}

.card-checkout {
  display: flex;
  align-items: center;
  width: 400px;
  gap: 60px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(170, 167, 167, 0.5);
}
.card-checkout img{
  width: 100px;
  height: 100px;
}
.card-checkout__detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.error-msg {
  color: rgb(212, 0, 0);
  font-size: 11px;
}