body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.navbar {
  background-color: #0079EC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  color: aliceblue;
}

.cart {
  cursor: pointer;
}

.container-items {
  margin: 0px 32px;
}